*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mali', cursive;
}
header{
    background-color:#f4b39f;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    height: 90px;
}
main{  /*responsive design*/
    display: grid;
    grid-template-columns: 20% 80%;
    height: 560px;
}
footer{
    font-size: 1em;
    line-height: 50px;
    margin:0px;
    padding:10px;
    background-color: #d3b8dd;
    text-align: center;
} 
nav{ /*responsive design*/
    display: grid;
    grid-template-columns:100%;
    background-color:#f1c6c6;
    margin: 0px;
    padding-top: 50px;
    padding-left: 20%;
    padding-bottom: 60%;
    
}
#index{
    color: #ff5757;
}
#indee{
    color: #ffffff;
}
article{ /*responsive design*/
    display: grid;
    grid-template-columns:50% 50%; 
    margin: 10px;
}
article div{
    padding: 30px;
}
#s{
    margin-right: 15px;
}
#ss{
    margin-bottom: 10px;
}
img{ /*responsive design*/
    margin-left: 30%;
}
section{ /*responsive design*/
    display: grid;
    grid-template-rows:50% 50%;
    margin: 0px;
}
@media screen and (max-width:1000px) { /*responsive design*/
    img{ /* หน้าจอเล็กรูปภาพเล็กลงตาม  */
        margin-left: 5%;
        width:auto;
         height:100;
    }
   
}